[submodule "Yelp"]
	path = Yelp
	url = https://github.com/mkausas/Yelp.git
[submodule "github-repo-finder"]
	path = github-repo-finder
	url = https://github.com/mkausas/github-repo-finder
[submodule "Twitter-Client"]
	path = Twitter-Client
	url = https://github.com/mkausas/Twitter-Client
[submodule "Parse-Chat-Client"]
	path = Parse-Chat-Client
	url = https://github.com/mkausas/Parse-Chat-Client.git
[submodule "Instagram-Ground-Up"]
	path = Instagram-Ground-Up
	url = https://github.com/mkausas/Instagram-Ground-Up
[submodule "Bartender"]
	path = Bartender
	url = https://github.com/FoodForThought4/Bartender
[submodule "Basic-iOS-Animation"]
	path = Basic-iOS-Animation
	url = https://github.com/mkausas/Basic-iOS-Animation.git
[submodule "Tinder"]
	path = Tinder
	url = https://github.com/mkausas/Tinder.git
[submodule "Canvas-Lab"]
	path = Canvas-Lab
	url = https://github.com/mkausas/Canvas-Lab
